/*-----分頁共同的設定------*/

main>h1{ /*分頁標題*/
    display: block;

    font-size: 34px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;
    font-weight: 600;

    margin: 50px auto;
}

main h2 { /*副標題、商品名稱*/
    font-size: 28px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;
    font-weight: 400;
}

main h3 { /*內文*/
    font-size: 18px;
    font-family:'Noto Sans JP';
    letter-spacing:3px; /*微調。字距*/
    line-height: 1.6;
    color: black;
    text-align: center;
} 

.wra-title{ /*h2標題文字*/
    margin-top: 40px;

    display: block;
    text-align: center;

    font-weight: bold;
}

main .num { /*內文的數字字型*/
    font-family: 'Roboto', sans-serif;
}

main .en{ /*內文的英文字型*/
    font-family: 'Roboto', sans-serif;
}

main h4{ /*警告訊息 專用*/
    font-size: 16px;
    color: #E54343;
}

.alert{ /*關閉警告訊息*/
    display: none;
}

.must{ /*資料必填符號*/
    color: red;
}

input:focus { /*統一 表單focus*/
    background-color: rgb(231, 231, 231);
    border: 0.1px solid gray;
}

/*----------統一設定----------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #C2D6F1;

    padding-bottom: 150px; /*與頁尾的距離*/

    position: relative;
}

/* 統一 main的寬度 */
.wrapper {
    width: 75vw;    
}

.question { /*統一 題目欄位尺寸*/
    /* width: 100%; */
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(135, 135, 135);

    display: flex;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    /* margin-bottom: 0px; 開啟答案之後的距離 */
    margin-bottom: 30px; /* 問題之間的距離 */
    background-color: #5FBBFF;
}

/*問題 文字設定*/
.question h2 {
    font-size: 18px;
    font-family:'Noto Sans JP';
    text-align: left;
}

.question>h2 span:first-child {
    letter-spacing: 1px;
}

/*font awsome*/
.question i {
    font-size: 28px;
    line-height: 45px;

    z-index: 3;
}

/* 統一 回答欄位設定 */
.answer {
    /* width: 100%; */
    /* display: flex; */
    display: none;
   
    margin-bottom: 25px;
    background-color: white;
}

/* "A:" */
.ans-A {
    font-size: 18px;
    letter-spacing: normal;

    padding-top: 18px;
    padding-left: 28px; 

    background-color: white;
}

.answer h3 {
    width: 68vw;
    text-align: left;

    padding-top: 12px;
    padding-right: 15px; /* 和ans-A搭配 */    
    padding-bottom: 25px;
    /* margin-bottom: 50px; */

    background-color: white;
}

@media screen and (max-width:420px) {

    /*-----------分頁共同設定----------*/

    /*分頁標題*/
    main>h1{ 
        font-size: 24px;
    
        margin: 20px auto;
    }

    /*副標題、商品名稱*/
    main h2 { 
        font-size: 18px;
    }
    
    /*內文*/
    main h3 { 
        font-size: 16px;
    }

    /*----------------------------------*/

    .wrapper {
        width: 85vw;
    }
    
    .question h2 {
        letter-spacing: 0px;
    }
}