/*-----分頁共同的設定------*/

main>h1{ /*分頁標題*/
    display: block;

    font-size: 34px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;
    font-weight: 600;

    margin: 50px auto;
}

main h2 { /*副標題、商品名稱*/
    font-size: 28px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;
    font-weight: 400;
}

main h3 { /*內文*/
    font-size: 18px;
    font-family:'Noto Sans JP';
    letter-spacing:3px; /*微調。字距*/
    line-height: 1.6;
    color: black;
    text-align: center;
} 

.wra-title{ /*h2標題文字*/
    margin-top: 40px;

    display: block;
    text-align: center;

    font-weight: bold;
}

main .num { /*內文的數字字型*/
    font-family: 'Roboto', sans-serif;
}

main .en{ /*內文的英文字型*/
    font-family: 'Roboto', sans-serif;
}

main h4{ /*警告訊息 專用*/
    font-size: 16px;
    color: #E54343;
}

/*警告訊息*/
.alert{ 
    display: none;    
}

.alert-im{ 
    color: #E64344;
}

/*開啟警告訊息用*/
.-on{
    display: block;
}

.must{ /*資料必填符號*/
    color: red;
}

input:focus { /*統一 表單focus*/
    background-color: rgb(231, 231, 231);
    border: 0.1px solid gray;
}

/*----------統一設定----------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #C2D6F1;

    padding-bottom: 150px; /*與頁尾的距離*/

    position: relative;
}

/*main遮罩*/
.mask {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    
    position: absolute;
    display: none;
    
    z-index: 5;
}
/*----------------------------*/

.card {
    width: 480px;

    background-color: white;
    box-shadow: 1px 1px 10px rgb(135, 135, 135);
    border-radius: 10px;
    overflow: hidden; /*裁切多餘的部分*/

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;

    position: relative; /*送出按鈕 定位用*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 76px;
}

.wrapper li{
    width: 435px;
    position: relative;
}

/*統一 表單規格*/
.wrapper input { 
    width: 430px;    
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.1px solid gray;

    padding-left: 10px; /*框格內文字padding lft*/
    box-sizing: border-box; /*避免長寬爆掉*/
    margin-bottom: 30px;
}

/*統一 各欄位名稱*/
.wrapper h3 { 
    display: block;
    width: 100%;
    text-align: left;

    margin-bottom: 10px;
}

/*統一 警告訊息規格*/
.wrapper .alert{
    position: absolute;
    top:93px ;
}

/*手機 送出按鍵*/
.wrapper li:nth-of-type(3) {
    position: relative; /*送出按鍵 定位用*/
} 

.wrapper li:nth-of-type(3) button{
    width: 130px;
    height: 45px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 2.5px;
    background-color: #5FBBFF;

    position: absolute;
    right: 0;

    z-index: 1;
}

.wrapper li:nth-of-type(3) button:hover {
    background-color: #1F5C89;
    color: white;
}

/*簡訊驗證碼 按鈕*/
.wrapper li:nth-of-type(4) {
    position: relative; /*送出按鍵 定位用*/
} 

.wrapper li:nth-of-type(4) button{
    width: 130px;
    height: 45px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 2.5px;
    background-color: #5FBBFF;

    position: absolute;
    right: 0;

    z-index: 1;
}

.wrapper li:nth-of-type(4) button:hover {
    background-color: #1F5C89;
    color: white;
}

/*出生日期*/
.birth {    
    width: 100%;
    display: flex;
}

.birth input {
    margin-right: 20px;
    margin-bottom: 10px; /*覆蓋原本設定*/
}

/* 西元年 */
.birth input:first-child {
    width: 100px;
}

/* 月份 */
.birth input:nth-of-type(2) {
    width: 90px;
}

/* 日期 */
.birth input:nth-of-type(3) {
    width: 90px;
}

/*性別*/
.sex { 
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sex input {
    width: auto; /*覆蓋原設*/
    margin-top: 25px; /*微調。性別欄位水平對齊*/
}

.sex h3 {
    display: block; 
    width: auto; /*清除原本設定*/
    
    font-size: 18px;
    line-height: 45px;

    margin-left: 5px;
    margin-right: 10px;
}

/*按鈕 送出*/
.submit{ /*設定和首頁的下訂按鈕相同*/
    background-color: #5FBBFF;
    width: 255px;
    height: 50px;
    border-radius: 10px;
    border: 0px; /*清除預設邊框設定*/

    font-size: 18px;
    text-align: center;
    line-height: 50px; /*和height一樣*/
    color: #151D20;
    
    font-weight: bold;
    letter-spacing:10px;

    margin-bottom: 10px;
}

.submit:hover {
    background-color: #1F5C89;
    color: white;
} 

/*是否同意訂閱*/
.sub {
    display: flex;
    /* justify-content: start; */
    align-items: start;
}

.sub input {
    margin-top:5px; /*微調 單選鍵水平高度*/
    margin-right: 10px;
}

.sub h3{  /*內文*/
    display: block;
    width: 235px;
    text-align: left;
    letter-spacing: 2px;

    margin-bottom: 70px;
}

/*-----完成後 提示訊息-----*/

.messa{
    width: 360px;
    height: 145px;
    background-color: #EEF5FF;

    box-shadow: 1px 1px 10px rgb(135, 135, 135);
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    justify-content:center;

    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    z-index: 10;
}

.messa button { /*統一 按鈕設計*/
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 0px; /*清除預設邊框設定*/
}

.messa>h3 { /* "付款成功" */
    display: block;
    width: 100%;

    margin-top: 25px;
    margin-bottom: 22px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*回到首頁*/
.messa button:last-child {
    background-color: #5FBBFF;
}

.messa button:last-child:hover {
    background-color: #1F5C89;
}

.messa button:last-child:hover h3{
    color: white;
}

/*-----------------------------------------------------------------*/

@media screen and (max-width:420px) {
    /*-----------分頁共同設定----------*/

    /*分頁標題*/
    main>h1{ 
        font-size: 24px;
    
        margin: 20px auto;
    }

    /*副標題、商品名稱*/
    main h2 { 
        font-size: 18px;
    }
    
    /*內文*/
    main h3 { 
        font-size: 16px;
    }

    /*----------------------------------*/

    .card {
        width: 350px;
    }

    .wrapper {
        align-items: center; /* 水平置中 */
    }

    .wrapper li {
        width: auto; /* 恢復初始設定 */
    }

    /*統一 各欄位名稱*/
    .wrapper h3 { 
        margin-bottom: 5px;
    }

    /* 統一表單規格 */
    .wrapper input {
        width: 320px;
        letter-spacing: 2px;
        font-size: 15px;
    }

    /*統一alert訊息*/
    .wrapper .alert {
        top: 85px;
    }

    /* 按鈕 */
    .wrapper li:nth-of-type(3) button,
    .wrapper li:nth-of-type(4) button {
        font-size: 15px;
    }

    /* 統一 生日性別欄位表單 */
    .birth {
        width: 320px; 
        justify-content: space-between;
    }

    .birth input {
        margin-right: 0px;
    }

    /* 性別 單選 */
    .sex input {
        width: auto; /* 讓單選框的大小恢復原本設定*/
    }

    .sex h3 {
        margin-top: -7px;
    }
    
    /*-----訂閱按鈕-----*/
    .sub input {
        margin-right: 5px;
    }

    /*-----彈出訊息-----*/
    .messa {
        width: 250px;
        border-radius: 5px;
    }

    .messa button{
        width: 170px;
        border-radius: 5px;
    }
}

/*-----------------------------------------------------------------*/

@media screen and (max-width:360px) {}