/*-----統一設定-----*/

a{
    text-decoration: none;
    color: #151D20;
}

/*font awsome icon*/
.fa-solid { /*font awsome icon 統一設定*/
    font-size: 25px;
}

/*----------頁首----------*/

/*統一設定*/
header{
    background-color:#151D20;
    height: 160px;
    font-size: 16px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: #EEF4FF;

    display: flex;
    justify-content: center;
}

/*英文字體*/
header .en{
    font-family:'Source Serif Pro', serif;
    font-weight: 400;
    letter-spacing:1px; /*微調。字距*/
    margin-top: 4px; /*微調。和中文字體平行*/
}

header>div{ 
    width: 100%; /*左右導覽列的總寬*/
}

header a{
    color: white;
    font-size: 18px;
    font-family:'Noto Serif JP';

    display: flex;
}

header nav{
   margin-top:85px; /*統一導覽列top間距*/
}

/*各別設定*/

/*左側*/
.nav-l {
    float:left ;
    max-width: 45%;

    margin-left: 10px; /*到距離邊界距離*/
}

.nav-l ul{
    display: flex;  
}

.nav-l li {
    display: inline-block;
    width: 100px; /*90+35px*/
    height:55px ; /*30+25px*/

    display: flex; /*文字水平垂直置中*/
    justify-content: center;
    align-items: center;
    
    padding-top: 5px;
    margin-right: 20px;
}


.nav-l li:hover {
    border-bottom: 2px solid #79ccdc;
}

.nav-l li:hover a {
    color:#5FBBFF;
}

/*品牌logo*/
header>a{ /*調整logo的位置*/
    position: absolute;
    margin: 15px auto;
}
header .logo{
    width: 120px;

    z-index: 1;
}

/*右側*/
.nav-r {
    float: right;
    margin-right: 20px; /*到距離邊界距離*/
}

.nav-r ul {
    display: flex;
}

.nav-r li {
    display: inline-block;
    width: 65px; 
    height: 55px; /*和左側nav li相同*/

    display: flex; /*文字水平垂直置中*/
    justify-content: center; 
    align-items: center; 
}

.nav-r li:nth-child(-n+2) {
    padding-left: 0px;
    padding-right: 0px;
}

/*搜尋列*/
.nav-r li:first-child {
    width: 90px;
    justify-content: flex-end;
    margin-right: 10px;
}

/*搜尋列 底線*/
.nav-r>ul li:first-child::before {
    content: "";
    width: 0px; /*線條寬度*/
    height: 1.8px;
    margin-bottom: -57.5px;
    margin-right: -25px;
    background-color: #79ccdc;

    transition: .5s;
}

.nav-r>ul li:first-child:hover::before {
    content: "";
    width: 250px;
}

.nav-r>ul li:first-child:hover i {
    color:#79ccdc;
}

/*登入 註冊*/
.nav-r li:nth-child(n+2):hover {
    border-bottom: 2px solid #79ccdc;
}

.nav-r li:hover a {
    color:#79ccdc;
}

/*font awsome icon*/

header i:hover{
    color:#79CCDC;
}

/*--------------------頁尾--------------------*/

/*統一設定*/
footer{
    background-color: #151D20;
    height: 240px;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 35px;
    padding-bottom: 35px;
    /* box-sizing: border-box; */
}
footer a {
    display: inline-block;
    color: white;
    font-size: 18px;
}


/*-----各別設定-----*/

/*導覽列*/
footer ul:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;
} 

footer ul:first-child li{
    height: 55px; /*和header 左側導覽列的li相同*/
    line-height: 55px; /*和height相同*/

    display: flex;
    text-align: center;
}

footer ul:first-child a{
    display: block;
    font-size: 18px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    width: 120px; 

    line-height: 55px; /*設為和li高度相同，擴大hover範圍*/

    margin-bottom: 47px;
}

/*導覽列 英文字體*/
footer .en{
    font-family:'Source Serif Pro', serif;
    font-weight: 400;
    letter-spacing:1px; /*微調。字距*/
}

footer ul:first-child li:hover {
    border-bottom: 2px solid #79ccdc; /*和header 左側導覽列的li相同*/
}

footer ul:first-child li:hover a {
    color: #79ccdc;
}

/*font awsome*/

.fa-brands{
    font-size: 25px;
    color: white;
    margin: auto 0 ; /*上下置中 水平置中*/

    text-align: center;
}

footer ul:first-child i{
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

/* footer ul:first-child li:nth-child(n+3){ 清除社群媒體的hover底線效果
    border-bottom: 0;
}  */

footer ul:first-child i:hover {
    color: #79ccdc;
}

/*相關資料*/
footer ul:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


footer small,
footer h3 {
    font-size: 16px ;
    text-align: center;
    line-height: 1.6;
}

footer h3:first-child {
    margin-bottom: 10px;
}

/*參考資料*/
footer ul:last-child a:hover {
    color:#79CCDC;
}
