/*-----統一設定-----*/

a{
    text-decoration: none;
    color: #151D20;
}

/*font awsome icon*/
.fa-solid { /*font awsome icon 統一設定*/
    font-size: 25px;
}

/*點擊*/

/*----------頁首----------*/

/*統一設定*/
header{    
    height: 160px;
    font-size: 16px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: #EEF4FF;
    background-color:#151D20;

    display: flex;
    justify-content: center;
}

/*英文字體*/
header .en{
    font-family:'Source Serif Pro', serif;
    font-weight: 400;
    letter-spacing:1px; /*微調。字距*/
    margin-top: 4px; /*微調。和中文字體平行*/
}

/*左右導覽列的總寬*/
header>div{ 
    width: 100%; 
}

header a{
    color: white;
    font-size: 18px;
    font-family:'Noto Serif JP';

    display: flex;
}

header nav{
   margin-top:85px; /*統一導覽列top間距*/
}

/*各別設定*/

/*左側*/
.nav-l {
    float:left ;
    max-width: 45%;

    margin-left: 10px; /*到距離邊界距離*/
}

.nav-l ul{
    display: flex;  
}

.nav-l li {
    display: inline-block;
    width: 100px; /*90+35px*/
    height:55px ; /*30+25px*/

    display: flex; /*文字水平垂直置中*/
    justify-content: center;
    align-items: center;
    
    padding-top: 5px;
    margin-right: 20px;
}


.nav-l li:hover {
    border-bottom: 2px solid #79ccdc;
}

.nav-l li:hover a {
    color:#5FBBFF;
}

/*品牌logo*/
header>a { /*調整logo的位置*/
    position: absolute;
    margin: 15px auto;
}
header .logo {
    width: 120px;

    z-index: 1;
}

header .wrapper-h {
    width: auto; /*避免寬度炸開*/
    display: none;
}


/*右側*/
.nav-r {
    float: right;
    margin-right: 20px; /*到距離邊界距離*/
}

.nav-r ul {
    display: flex;
}

.nav-r li {
    display: inline-block;
    width: 65px; 
    height: 55px; /*和左側nav li相同*/

    display: flex; /*文字水平垂直置中*/
    justify-content: center; 
    align-items: center; 
}

.nav-r li:nth-child(-n+2) {
    padding-left: 0px;
    padding-right: 0px;
}

/*搜尋列*/
.nav-r li:first-child {
    width: 90px;
    justify-content: flex-end;
    margin-right: 10px;
}

/*搜尋列 底線*/
.nav-r>ul li:first-child::before {
    content: "";
    width: 0px; /*線條寬度*/
    height: 1.8px;
    margin-bottom: -57.5px;
    margin-right: -25px;
    background-color: #79ccdc;

    transition: .5s;
}

.nav-r>ul li:first-child:hover::before {
    content: "";
    width: 250px;
}

.nav-r>ul li:first-child:hover i {
    color:#79ccdc;
}

/*登入 註冊*/
.nav-r li:nth-child(n+2):hover {
    border-bottom: 2px solid #79ccdc;
}

.nav-r li:hover a {
    color:#79ccdc;
}

/*font awsome icon*/
header i:hover{
    color:#79CCDC;
}

/*-------手機版導覽列-------*/

.search-m {
    display: none;
}

.nav-m {
    display: none;        
}

/*--------------------頁尾--------------------*/

/*統一設定*/
footer{
    background-color: #151D20;
    height: 240px;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 35px;
    padding-bottom: 35px;
}
footer a {
    display: inline-block;
    color: white;
    font-size: 18px;
}


/*-----各別設定-----*/

/*導覽列*/
footer ul:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;
} 

footer ul:first-child li{
    height: 55px; /*和header 左側導覽列的li相同*/
    line-height: 55px; /*和height相同*/

    display: flex;
    text-align: center;
}

footer ul:first-child a{
    display: block;
    font-size: 18px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    width: 120px; 

    line-height: 55px; /*設為和li高度相同，擴大hover範圍*/

    margin-bottom: 47px;
}

/*導覽列 英文字體*/
footer .en{
    font-family:'Source Serif Pro', serif;
    font-weight: 400;
    letter-spacing:1px; /*微調。字距*/
}

footer ul:first-child li:hover {
    border-bottom: 2px solid #79ccdc; /*和header 左側導覽列的li相同*/
}

footer ul:first-child li:hover a {
    color: #79ccdc;
}

/*font awsome*/

.fa-brands{
    font-size: 25px;
    color: white;
    margin: auto 0 ; /*上下置中 水平置中*/

    text-align: center;
}

footer ul:first-child i{
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

footer ul:first-child li:nth-child(n+5){ /* 清除社群媒體的hover底線效果 */
    border-bottom:0;
} 

footer ul:first-child i:hover {
    color: #79ccdc;
}

/*相關資料*/
footer ul:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


footer small,
footer h3 {
    font-size: 16px ;
    text-align: center;
    line-height: 1.6;
}

footer h3:first-child {
    margin-bottom: 10px;
}

/*參考資料*/
footer ul:last-child a:hover {
    color:#79CCDC;
}

/*----------------RWD------------------------*/

@media screen and (max-width:420px) {

    header {
        height: 55px;
        width: 100%;
    }

    /* 讓導覽列寬度滿版 */
    header>div{ 
        width: auto; 
    }

    header .wrapper-h{
        display: flex;
        width: 100%;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;

        padding-left: 15px;
        padding-right: 10px;
    }

    .wrapper-h>li {
        display: flex;
        align-items: center;
    }

    /* 關閉網頁LOGO */
    .logo {
        display: none;
    }

    /* 關閉網頁版左側導覽列 */
    .nav-l {
        display:none;
    }

    /* 關閉網頁版右側導覽列 */
    .nav-r {
        display:none;
    }

    /* 開啟手機版網頁LOGO */
    .logo-m {
        width: 40px;
        height: 32px; 
        
        /* margin-left: 10px; */
    }

    /* 手機版店名*/
    .logo-m-name {
        height: 15px;
    }

    /* 開啟搜尋列icon */
    .search-m {
        display: block;
        font-size: 1.2em;
        float: right;     

        margin-top: 0;
        margin-right: 10px;
        margin-left: -36px;
    }

    .search-m::after {
        content: "";
        display: block;
        width: 0;   
        height: 16px;

        position: absolute;
        right: 50px;
        border-bottom: 2px solid #5FBBFF;

        transition: ease 1s; 
    }

    /* 手機版導覽列 */
    .nav-m {
        width: 160px;
        background-color: #151D20;

        /* display: flex; */
        display: none;
        flex-direction: column;

        position: absolute;
        top: 55px;
        right: 0px;

        z-index: 10;    
    }

    .nav-m li {
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    
    .nav-m li a{
        display: block;
        font-size: 16px;

        margin-left: 42px;
        margin-right: 30px;
    }

    /* 微調 hover底線寬度*/
    .nav-m li:nth-of-type(4) a{
        margin-right: 52px;
    }
    .nav-m li:nth-child(n+5) a{
        margin-right: 74px;
    }

    /* Q&A */
    header .en {
        letter-spacing: 1px;
        margin-top: auto;
    }

    /* hover效果*/    
    .nav-m li:hover a {
        border-bottom: 2px solid #79ccdc;
        color:#5FBBFF;
    }
    
    /*---------------footer--------------*/

    footer {
        align-items: center;

        padding-bottom: 35px;
    }
    /* 導覽列 */
    footer ul:first-child {
        width: 100vw;
        flex-wrap: wrap;

        /* margin-top: -2s0px; */
        margin-bottom: 30px;
    }

    /* 導覽列 li
    footer ul:first-child li {
        height: 48px;
    }  */

    /* 導覽列 文字 */
    footer ul:first-child a {
        font-size: 18px;
        letter-spacing: 2px;
        width: 95px;
    }
    /* 社群媒體 icon */
    footer ul:first-child i {
        width: 25px;
    }

    /* 版權資訊 */
    footer h3 {
        font-size: 15px;
    }

    footer small {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

 /*-----------------------------------------------------------------*/

 @media screen and (max-width:365px) {
    /* 導覽列 li*/
    footer ul:first-child li {
        height: 48px;
    }
    footer ul:first-child a {
        font-size: 16px;
        width: 82px;
    }
 }