/*-----分頁共同的設定------*/

main h1{ /*分頁標題*/
    display: block;

    font-size: 32px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;

    margin: 50px auto;
}

main h2 { /*副標題、商品名稱*/
    font-size: 32px;
    font-family:'Noto Serif JP';
    letter-spacing:4px; /*微調。字距*/
    color: black;
    text-align: center;
}

main h3 { /*內文*/
    font-size: 18px;
    font-family:'Noto Sans JP';
    letter-spacing:3px; /*微調。字距*/
    line-height: 1.6;
    color: black;
    text-align: center;
} 

/*----------統一設定----------*/

main{
    display: flex;
    flex-direction: column;

    /* background-color: #C2D6F1; */
    background-image:linear-gradient(-45deg, #1F5C89 50%, #1F5C89 30%, #5FBBFF 50%, #5FBBFF 100%);

    padding-bottom: 200px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper>li{
    margin: auto 25px; /*card之前距離*/
}

/*----------左側----------*/
.card1{
    width: 500px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 10px rgb(9, 0, 58,.3);
    background-color: white;
    border-radius: 15px;

    display: flex;
    justify-content: center;
}

.card1>div{
    width: 400px; /*和商品照片寬度相同*/

    display: flex;
    flex-direction: column;
    align-items: center; 
}

/*商品名稱*/
.card1 h2{
    margin: 50px auto;
}

/*商品照片*/
.card1 img{
    display: block;
    width: 400px;
}

/*商品介紹*/
.card1 .content{
    max-width: 100%;

    margin-top: 30px;
    margin-bottom: 20px;
}

/*"數量"*/
.num{
    display: block;
    width: 90%;
    text-align: left;

    padding-bottom: 10px;
}


/*商品數量統計*/
.amount {
    width: 90%; /*寬度和.num相同*/
    height: 45px;

    display: flex;
    justify-content:center;
    align-items: center;

    border: .1px solid #ababab; 
    border-radius: 5px;
}

/*調整數字欄位的寬度*/
.amount li:nth-of-type(2) {
    width: 80%;
    line-height: 35px;
}

/*font awsome*/
.amount .fa-solid {
    font-size: 30px;
    color:#FF4348;
    margin: auto 10px;
} 

/*商品數量的數字*/
.amount .number{
    display: block;
    width: 100%; /*配合li寬度*/
    text-align: center;
    font-size: 28px;
    /* font-family: 'Lora', serif; */
    color: black;
    background-color: #D7EEFF;
    border-radius: 5px;
}

/*結算*/
.total{
    width: 90%; /*寬度和.num相同*/
    display: flex;
    justify-content:space-between;
}

.total h1:first-child{    
    float: left;
}

.total h1:last-child{
    float: right;
}



/*----------右側----------*/
.card2{
    width: 500px;
    padding-bottom: 50px;
    box-shadow: 10px 10px 10px rgb(9, 0, 58,.3);
    background-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}